.black {
    background-color: rgb(71, 69, 69);
}
.white {
    background-color: rgb(250, 244, 244);
}
.square {
    width: 70px;
    height: 70px;
}
.board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
}
.board > div {
    display: flex;
    justify-content: center;
    align-items: center;
}